* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.topo {
  width: 100%;
  padding: 20px 0;
  background-color: #383d58;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.topo-imagem {
  width: 260px;
  height: 60px;
}

.topo-lista-item {
  display: inline-block;
  margin: 0 16px;
  color: #ffffff;
  font-size: 24px;
}

.escola {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#383d58, blue);
  padding: 164px 0px;
}

.escola-textos {
  width: 34%;
  color: #ffffff;
  margin-right: 90px;
}

.escola-imagem {
  width: 20%;
}

.escola-sobre {
  padding: 24px 0px;
}

.estudante {
  padding: 104px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.estudantes {
  width: 740px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.estudante-perfil {
  height: 268px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 22px;
}

.estudante-imagem {
  width: 120px;
  height: 182px;
  object-fit: cover;
}

.rede-social-icone {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.estudante-icones {
  width: 120px;
  display: flex;
  justify-content: space-around;
}
